body{
	background: #f7f7f7;
	font-family: verdana;
	width: 85%;
	max-width: 900px;
	margin: auto;
}

.foto{
	border-radius: 50px;
	border: 3px solid #505050;
}

#title, .subtitle, .post_title{
	color: #505050;
}

#title{
	font-size: 40px;
	text-transform: uppercase;
}

a{
	text-decoration: line-through;
	color: #505050;
}

.post_title{
	font-size: 16px;
	font-style: italic;
	margin: 0;
	margin-bottom: 15px;
}

.post{
	background: #cca;
	padding:  15px;
	border: 3px solid black;
	margin-bottom: 15px;
	border-radius: 10px;
}

.post_content{
	margin: 0;
	margin-bottom: 15px;
	text-transform: capitalize;
	text-align: justify;
}

.post_imagem{
	margin-bottom: 15px;
	width: 100%
}

.contato_list{
	list-style-type: none;
	padding: 15px;
}

.contato_list li a{
	text-decoration: none;
}